*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}
p{
    text-align: center;
    font-size: 2.6rem;
    margin-top: 4%;
    color: blue;
    margin-left: -20%;
}
.div_body1{
    margin: 0 auto;
    position:relative;
    height: 65vh;
    width: 23%;
    background-color: blue;
    border:3px solid red;
    padding: 20px 20px 20px;
}
.div_body1 .div_body2{
    padding-left: 5px;
    position:relative;
    display: block;
    margin: 0 auto;
    height: 8.5vh;
    width: 91%;
    outline: none;
    border: none;
    background-color: white;
    font-size: 1.3rem;
}
button{
    padding: 6px;
    margin-top: 1.3%;
    margin-left:1px;
    height: 60px;
    width: 57px;
    background-color: #99ccff;
    border: none;
    cursor: pointer;
}
.clear_l{
    width:80px ;
    padding: 6px;
    margin-top: 1.3%;
    margin-left:13px;
    height: 60px;
    background-color: #99ccff;
    border: none;
    cursor: pointer;
}